[sources.sapo]
domain = "yoursapodomain.mysapogo.com"
request_delay = 2.0  # Wait 1 second between requests
headless = false

# login_url và base_url sẽ tự động được tạo ra từ domain này.
# base_url = https://yoursapodomain.mysapogo.com/admin # cấu hình nếu muốn Overview

login_url = "https://accounts.sapo.vn/login?domain=yoursapodomain" # cấu hình nếu muốn Overview
# Credentials should be provided via environment variables:
# SOURCES__SAPO__USERNAME
# SOURCES__SAPO__PASSWORD
# username = "" # Set via env var
# password = "" # Set via env var

[sources.sapo.login_selectors]
username = "#pos-login-form #username"
password = "#pos-login-form #password"
submit = "#pos-login-form button.btn-login"

[sources.sapo_webhook_source]
worker_url = "https://webhook.dev/"


[destination.filesystem]
bucket_url = "file:///filepath"
