node_modules
.history
.vscode
.env
.env.local
.wrangler
poc
data_lake
.tmp_dagster_home_*
.dagster_home/.nux
.dagster_home/.telemetry
.dagster_home/history
.dagster_home/schedules
.dagster_home/storage
.dagster_home/logs

*.duckdb
*.log
**/venv/
**/__pycache__/
**/target/
**/dbt_packages/
.DS_Store