[sources.sapo]
domain = "yoursapodomain.mysapogo.com"
request_delay = 2.0  # Wait 1 second between requests
headless = false

# login_url và base_url sẽ tự động được tạo ra từ domain này.
# base_url = https://yoursapodomain.mysapogo.com/admin # cấu hình nếu muốn Overview

login_url = "https://accounts.sapo.vn/login?domain=yoursapodomain" # cấu hình nếu muốn Overview
username = "yourusername"
password = "yourpassword"

[sources.sapo.login_selectors]
username = "#pos-login-form #username"
password = "#pos-login-form #password"
submit = "#pos-login-form button.btn-login"

[destination.filesystem]
bucket_url = "file:///d:/_1.FWG_PARA/1.Projects/dev/dataware_house/data-integration2/dlt/data_lake"
